#====================================================
#     BINARY FILES
#====================================================
obj
lib
bin
a.out
**/build

#====================================================
#     PERSONAL FILES
#====================================================
.vscode
!.github/

#====================================================
#     OTHER FILES
#====================================================
*.out.*
*.odt
*.rtf